/*
 * @file
 * Styles for GA Opt Out module.
 *
 */
 
#ga-opt-out-container {
  z-index: 99999;	
	display: none;
  position: fixed;
  top: 0;
  left: 0; 
  width: 100%;
  color: #3B3B3B;
  zoom: 1;  
	-moz-box-shadow: 0 2px 10px #888;
	-webkit-box-shadow: 0 2px 10px #888;
	box-shadow: 0 2px 10px #888;
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)"; 
  background: #c7c7c7; /* Old browsers */
  background: -moz-linear-gradient(top, #f1f1f1, #c7c7c7); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(#f1f1f1), color-stop(#c7c7c7)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f1f1f1,#c7c7c7); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f1f1f1, #c7c7c7); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f1f1f1, #c7c7c7); /* IE10+ */
  background: linear-gradient(top, #f1f1f1, #c7c7c7); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#c7c7c7',GradientType=0); /* IE6-9 */
}
 
#ga-opt-out-message-container {
  width: 50%;
  margin: 0 auto;
  padding: 20px 0 10px 0;
}

#ga-opt-out-buttons {
	width: 140px;
  margin: 0 auto;	
  padding: 10px 0 20px 0;
}

#ga-opt-out-yes:hover, #ga-opt-out-no:hover {
  background-color: #7FB777; 	
}

#ga-opt-out-yes, #ga-opt-out-no {
  float: left;	
  cursor: pointer;
  cursor: hand;	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
  color: #fff;
  background-color:  #aaa;
  width: 50px;   
  padding: 5px; 
  margin: 0 5px 0 5px;
  text-shadow: 1px 1px 0 #777;
  text-align: center;    
}